.sidebar-wrapper {
  margin-top: 4.7rem;
  background-color: var(--primary-color);
  flex-basis: 15rem;
}

.sidebar-options-list {
  list-style: none;
}

.sidebar-options {
  margin: 15px 0;
  color: var(--white-color);
  padding: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar-options:hover {
  cursor: pointer;
}

.sidebar-icons {
  font-size: 2rem;
}

.sidebar-option-text {
  font-size: larger;
}
