.sidebar-wrapper {
  margin-top: 4.7rem;
  background-color: var(--primary-color);
  min-width: 15rem;
  min-height: calc(100vh - 71px);
}

.sidebar-options-list {
  list-style: none;
}

.sidebar-options {
  margin: 15px 0;
  color: var(--white-color);
  padding: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.sidebar-options:hover {
  cursor: pointer;
  background-color: var(--primary-color-2);
}

.sidebar-icons {
  font-size: 1.5rem;
}
