:root {
  --primary-color: #1a202c;
  --primary-color-2: #293246;
  --secondary-color: #ffffffeb;
}

body {
  background-color: var(--primary-color-2);
  color: var(--white-color);
  box-sizing: border-box;
}

fieldset {
  border: none;
}
